body{
  background-color: rgb(172, 172, 170);
}

main{
  text-align: center;
}

h1{
  text-align: center;
}

nav{
  text-align: center;
}

.secret{
  position: relative;
  border-radius: 100px;
  z-index: 2;
}

.imgDesc{
  display: flex;
  flex-direction: column;
  text-align: inherit;
  font-size: 1.5em;
  margin-top: -120px;
  margin-bottom: 100px;
  z-index: 0;
}

.project-title{
  margin: 50px 50px;
}

.card-body{
  text-align: center;
  align-items: center;
  justify-items: center;
}

#container{
  justify-content: flex;
  text-align: center;
  align-items: center;
  margin: 0 50px;
}

.text{
  display: inline-block;
  margin: 0 20px 0 20px;
}

#pic{
  border-radius: 100px;
}

#code-pic{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}