body{
  background-image: linear-gradient(to bottom right, red, yellow);
  height: 1px;
}

main{
  text-align: center;
}

h1{
  text-align: center;
}

nav{
  text-align: center;
}

.secret{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  z-index: 2;
}

.imgDesc{
  display: flex;
  flex-direction: column;
  text-align: inherit;
  font-size: 1.5em;
  margin-top: -120px;
  margin-bottom: 100px;
  z-index: 0;
}

.project-title{
  margin: 50px 50px;
}

.card-body{
  text-align: center;
  align-items: center;
  justify-items: center;
}

#container{
  justify-content: flex;
  text-align: center;
  align-items: center;
  margin: 0 50px;
}

.text{
  display: inline-block;
  margin: 0 20px 0 20px;
}

#pic{
  /* width: 300px; */
  height: 500px;
}

.code-pic{
  display: inline-block;
  margin: 0 50px;
  border-radius: 100px;
}

#images{
  text-align: center;
  margin: 0 20px;
  
}

p{
  font-size: larger;
}


.container-fluid{
  background-color: black;
  color: white;
}

.navbar{
  background-color: black;
  padding: 0px;
}

.navbar-brand{
  color: white;
}

.navbar-toggler{
  background-color: white;
}

.nav-link{
  color: white;
}

.dropdown-menu{
  background-color: black;
}

.dropdown-item{
  color: white;
}

.card{
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-primary{
  background-color: red;
  border: none;
}

.btn-sec{
  background-color: yellow;
}

.about{
  font-size: 25px;
  margin: 0 200px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px){
  .about{
    text-align: center;
    font-size: x-large;
  }
}

@media only screen and (max-width: 768px){
  .card{
    margin-left:110px;
  }
  .about{
    margin: 0 50px;
    text-align: center;
  }
}